@charset "utf-8";

// box-shadow
// --------------------------------------------------------------------

.shadow{
  box-shadow: 0 $SIZE_XS $SIZE_S 0 #{rgba($TEXT_COLOR, .5)};
  transition: ease .3s;
}
.shadow:hover{
  box-shadow: 0 $SIZE_XS $SIZE_L $SIZE_XS #{rgba($TEXT_COLOR, .3)};
}


// hover aniation
// --------------------------------------------------------------------

.hover-up:hover{
  transition: ease .3s;
  transform: translate(0, -$SIZE_XS);
}
.hover-huwahuwa:hover{
  animation: huwahuwa ease-in-out	2s infinite;
}


// keyframes
// --------------------------------------------------------------------

@keyframes huwahuwa {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -$SIZE_XS);
    }
    100% {
      transform: translate(0, 0);
    }
}
