footer.l-footer
	.footer-content
		nav.footer-content__nav
			ul.footer-content__lists
				li.footer-content__item: a(href="#") top
				li.footer-content__item: a(href="#") top
				li.footer-content__item: a(href="#") top
	.footer-copyright
		.footer-copyright__inner
			small #{definition.copyright}

// jQuery CDN
script(src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous")
// custom
script(src= paths.js + "main.js", type="text/javascript")