p.font-s.bgcolor-b.color-w.padding-xs オススメ商品はこちら
div.grid-xs.s-chwidth-1-2.area3-2
  div
    a.bgcolor-w(href='https://item.rakuten.co.jp/re-wall/c/0000000436/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/middle/pickup-jw.jpg')
      div.padding-xs
        p.font-xs.bold Jebrille Wallpaepr
        p.font-xs 賃貸でおしゃれにをコンセプトとした、日本初の貼ってはがせる「フリースデジタル壁紙」ブランドです。
  div
    a.bgcolor-w(href='https://item.rakuten.co.jp/re-wall/c/0000000286/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/middle/pickup-im.jpg')
      div.padding-xs
        p.font-xs.bold IMPORT WALLPAPER
        p.font-xs スウェーデンやドイツなどから仕入れた海外製の壁紙。海外ならではのおしゃれな壁紙が魅力的。
  div
    a.bgcolor-w(href='https://item.rakuten.co.jp/re-wall/c/0000000668/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/middle/pickup-kakeru.jpg')
      div.padding-xs
        p.font-xs.bold KARERU PAINT
        p.font-xs 塗装面が黒板のようにチョークで描ける壁になるペンキ。落書きをとことん楽しむことができます。
  div
    a.bgcolor-w(href='https://item.rakuten.co.jp/re-wall/c/0000000590/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/middle/pickup-wpt.jpg')
      div.padding-xs
        p.font-xs.bold THE WALLPAPER TOKYO
        p.font-xs アパレルブランドやデザイナーとコラボした壁紙ブランド。洋服のように壁紙のおしゃれを楽しめる。
  div
    a.bgcolor-w(href='https://item.rakuten.co.jp/re-wall/c/0000000561/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/middle/pickup-wds.jpg')
      div.padding-xs
        p.font-xs.bold WALL DECORATION SHEET
        p.font-xs 今ある壁紙の上から貼って綺麗にはがせるシール式シート。お部屋を簡単にリフォームできます。
