div.grid-xs.s-chwidth-1-2.m-chwidth-1-3
  div
    a.padding-xs.bgcolor-b-l(href='https://item.rakuten.co.jp/re-wall/trialset/', style='height: 100%;')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/headerbn-trialset.jpg')
      p.font-xs.bold 初心者大歓迎！輸入壁紙トライアルセット
      p.font-xs 輸入壁紙＋必要な施工道具がセットになりました。貼ってはがせるので賃貸でも安心して貼ることができます。
  div
    a.padding-xs.bgcolor-b-l(href='https://item.rakuten.co.jp/re-wall/c/0000001628/', style='height: 100%;')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/spice/spice-img.jpg')
      p.font-xs.bold SPICE | 雑貨メーカー
      p.font-xs おしゃれなだけでなく機能性も抜群なトレンドアイテムが勢揃い！新商品も続々追加中です！
  div
    a.padding-xs.bgcolor-b-l(href='https://item.rakuten.co.jp/re-wall/c/0000000195/', style='height: 100%;')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/header/dcfix-haiban-bn.jpg')
      p.font-xs.bold 当店人気No.1 | ドイツ製粘着シート d-c-fix
      p.font-xs 人気の「d-c-fix」が廃盤セールを開始！廃盤商品や訳アリ商品が最大50％OFF！ぜひお買い求めください！
div.grid-xs.s-chwidth-1-2.m-chwidth-1-3
  div
    a(href='https://item.rakuten.co.jp/re-wall/altyno-wg/')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/pickup-altyno.jpg')
  div
    a(href='https://item.rakuten.co.jp/re-wall/lm-n6/')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/pickup-diytile.jpg')
  div
    a(href='https://item.rakuten.co.jp/re-wall/cs200-regular-45x1mcut/')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/pickup-kemikaru.jpg')
  div
    a(href='https://item.rakuten.co.jp/re-wall/kakeru-paint-200/')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/pickup-penki-kakeru.jpg')
  div
    a(href='https://item.rakuten.co.jp/re-wall/kb-a4/')
      img(src='https://image.rakuten.co.jp/re-wall/cabinet/common/pickup-kokuban.jpg')

div.grid-xs.s-chwidth-1-2.m-chwidth-1-4
  div
    a(href='https://www.rakuten.ne.jp/gold/re-wall/faq.html')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/assets/img/top-faq.jpg')
  div
    a(href='https://www.rakuten.ne.jp/gold/re-wall/delivery-info.html')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/assets/img/top-delivery.jpg')
  div
    a(href='https://www.rakuten.ne.jp/gold/re-wall/kabedeco.html')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/assets/img/top-wall.jpg')
  div
    a(href='https://www.rakuten.ne.jp/gold/re-wall/harikata-fleece.html')
      img(src='https://www.rakuten.ne.jp/gold/re-wall/assets/img/top-fleece.jpg')
