-
    var marathon = [
      {
      	code : 'dcfix-02-346-5015',
      	price_b : '2,138',
      	price_a : '1,925',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-02-346-5015.jpg',
      },
      {
      	code : 'dcfix04-b15-bc',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix04-b15-bc.jpg',
      },
      {
      	code : 'dcfix-02-cut-90',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-02-cut-90.jpg',
      },
      {
      	code : 'mt-fleece',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/mt/mt-fleece.jpg',
      },
      {
      	code : 'dcfix-03-b15',
      	price_b : '15,876',
      	price_a : '14,288',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-b15.jpg',
      },
      {
      	code : 'altyno-wg',
      	price_b : '459',
      	price_a : '413',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/altyno/altyno-wg.jpg',
      },
      {
      	code : 'dcfix-121',
      	price_b : '6,588',
      	price_a : '5,929',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-121.jpg',
      },
      {
      	code : 'dcfix-03-a2_1',
      	price_b : '1,404',
      	price_a : '1,264',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-a2_1.jpg',
      },
      {
      	code : 'kf-wp',
      	price_b : '2,112',
      	price_a : '1,901',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/kf-wp.jpg',
      },
      {
      	code : 'dcfix-03-ac-2',
      	price_b : '972',
      	price_a : '875',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-ac-2.jpg',
      },
    
    ]
