-
    var timesale_kikan = ['6/8 10:00 ~ 7/13 9:59']

    var timesale = [
    {
    	code : 'fel-8060-12',
    	price_b : '33,048',
    	price_a : '29,743',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/felmenon/fel-8060-12.jpg',
    },
    {
    	code : 'altyno-wg',
    	price_b : '459',
    	price_a : '413',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/altyno/altyno-wg.jpg',
    },
    {
    	code : 'dcfix-03-a15-2',
    	price_b : '8,748',
    	price_a : '7,873',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/45x15m-w-main.jpg',
    },
    {
    	code : 'dcfix-121',
    	price_b : '6,588',
    	price_a : '5,929',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-121.jpg',
    },
    {
    	code : 'dcfixa15-06',
    	price_b : '8,748',
    	price_a : '7,873',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/45x15m-mono-main.jpg',
    },
    {
    	code : 'reform_floor_seal',
    	price_b : '2,592',
    	price_a : '2,333',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/reform_floor_seal/reform_floor_seal.jpg',
    },
    {
    	code : 'dc-a10meta4',
    	price_b : '15,012',
    	price_a : '13,511',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/215-0001_main.jpg',
    },
    {
    	code : 'ma01-08_6m',
    	price_b : '4,968',
    	price_a : '4,471',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/magicfix/marble/wds-marble-6-main.jpg',
    },
    {
    	code : 'dcfix-04-a15-3',
    	price_b : '8,748',
    	price_a : '7,873',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/45x15m-ma-main.jpg',
    },
    {
    	code : 'dcfix-04-a15-4',
    	price_b : '15,876',
    	price_a : '14,288',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/90x15m-ma-main.jpg',
    },
    {
    	code : 'stikwood-reclaimed',
    	price_b : '99,036',
    	price_a : '89,132',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/stickwood-re-main.jpg',
    },
    {
    	code : 'z-plain',
    	price_b : '9,828',
    	price_a : '8,845',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/import/kokunaizaiko/z-plain.jpg',
    },
    {
    	code : 'decoself',
    	price_b : '11,232',
    	price_a : '10,109',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/decoself-main.jpg',
    },
    {
    	code : 'cs200-regular-45x12',
    	price_b : '10,584',
    	price_a : '9,526',
    	img : 'https://image.rakuten.co.jp/re-wall/cabinet/nakagawa/cs200-re-45x12.jpg',
    },
  
      ]
    
      var osusumesale = [

      {
      	code : 'dcfix-02-346-5015',
      	price_b : '2,138',
      	price_a : '1,925',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-02-346-5015.jpg',
      },
      {
      	code : 'dcfix04-b15-bc',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix04-b15-bc.jpg',
      },
      {
      	code : 'dcfix-02-cut-90',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-02-cut-90.jpg',
      },
      {
      	code : 'mt-fleece',
      	price_b : '1,728',
      	price_a : '1,555',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/mt/mt-fleece.jpg',
      },
      {
      	code : 'dcfix-03-b15',
      	price_b : '15,876',
      	price_a : '14,288',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-b15.jpg',
      },
      {
      	code : 'altyno-wg',
      	price_b : '459',
      	price_a : '413',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/altyno/altyno-wg.jpg',
      },
      {
      	code : 'kf-wp',
      	price_b : '2,112',
      	price_a : '1,901',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/kf-wp.jpg',
      },
      {
      	code : 'dcfix-121',
      	price_b : '6,588',
      	price_a : '5,929',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-121.jpg',
      },
      {
      	code : 'dcfix-03-a2_1',
      	price_b : '1,404',
      	price_a : '1,264',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-a2_1.jpg',
      },
      {
      	code : 'dcfix-haibansale-45x200',
      	price_b : '540',
      	price_a : '486',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/outlet/imgrc0087582863.jpg',
      },
      {
      	code : 'dcfix-03-ac-2',
      	price_b : '972',
      	price_a : '875',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/dcfix-03-ac-2.jpg',
      },
      {
      	code : 'dcfix-haibansale-90x15',
      	price_b : '4,980',
      	price_a : '4,481',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/dcfix/outlet/haibansale-90x15.jpg',
      },
      {
      	code : 'reform_floor_seal',
      	price_b : '2,592',
      	price_a : '2,333',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/reform_floor_seal/reform_floor_seal.jpg',
      },
      {
      	code : 'hip-w01-09l',
      	price_b : '5,444',
      	price_a : '4,899',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/hip-w-q-main.jpg',
      },
      {
      	code : 'altyno-sc',
      	price_b : '319',
      	price_a : '286',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/altyno/altyno-sc-main.jpg',
      },
      {
      	code : 'kakeru-paint-200',
      	price_b : '1,960',
      	price_a : '1,764',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/kakeru-s-main.jpg',
      },
      {
      	code : 'coirmat',
      	price_b : '4,212',
      	price_a : '3,791',
      	img : 'https://image.rakuten.co.jp/re-wall/cabinet/main/normal/mat02-main.jpg',
      },
      
      ]
