doctype html

include base/_config

html(lang="ja")
	head
		include module/common/_head
		link(href="https://www.rakuten.ne.jp/gold/re-wall/assets/css/style.min.css", rel="stylesheet")
		title 壁紙のトキワ Rewall | 配送・送料について
			
		body
			div.wrap(style='width: 1040px;')
				div.template.template-2
					section.area1
						| <!-- エリア1 -->
						div.grid-none.padding-xs
							div.s-width-1-1.m-width-1-3.l-width-1-5.center
								a(href='https://www.rakuten.ne.jp/gold/re-wall/', target='_top')
									img.s-width-2-3.m-width-1-1(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/logo-0725.png')
							div.s-none.m-none.l-width-1-5
							div.m-width-2-3.l-width-3-5.right
								div.grid-xs
									div.s-width-1-1.m-width-1-1.l-width-2-3
										address
											<i class="fas fa-phone fa-fw"></i>
											a(href='tel:0120-771-332')
												span.font-s.bold 0120-771-332
											span.font-xs (平日9時から17時まで受付)
										address
											<i class="fas fa-mobile-alt fa-fw"></i>
											a(href='tel:0584-89-0071')
												span.font-s.bold 0584-89-0071
											span.font-xs (平日9時から17時まで受付)
									div.s-none.m-none.all-width-1-3
										img(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/tokiwa-logo.png')
											
								nav.font-xs.margin-top-s
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME | 
									a.link(href='https://event.rakuten.co.jp/guide/howtobuy/') ご利用ガイド | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info.html') 店舗情報 | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info2.html') 送料・お支払・返品 | 
									a.link(href='https://review.rakuten.co.jp/shop/4/243143_243143/?sort=3&b=0&mf=&a=') お客様の声 | 
									a.link(href='https://www.rakuten.co.jp/') 楽天市場
			
			div.bgcolor-b-l
				div.wrap.right(style='width: 1040px;')
					<div id="searchform" class="margin-right-xs">
					<form method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
						<input value="6" type="hidden" name="sv">
						<input value="243143" type="hidden" name="sid">
						<!-- 店舗ID-->
						<input value="re-wall" type="hidden" name="su">
						<!-- 店舗URL-->
						<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
						<!-- 店舗名-->
						<input value="A" type="hidden" name="f">
						<input class="text bgcolor-w" style="margin: 8px 4px; padding: 4px; border: solid 1px #b2b2b2; max-width: 240px; width: 40%;" type="text" name="sitem" placeholder="商品を検索">
						<!-- 検索キーワード-->
						<input class="btn" style="padding: 2px 8px; border: solid 1px #b2b2b2;"  value="検索" type="submit">
						<!-- 検索ボタン-->
					</form>
				</div>

			div.wrap.margin-bottom-l.padding-xs(style='width: 1040px;')
				div.template.template-2
					section.area1(style='margin-bottom: 24px;')
						div.grid-none.s-chwidth-1-2.m-chwidth-1-5.l-chwidth-1-6
							include module/rewall-template/_category-list
						include module/rewall-template/_head-contents

					section.area2.s-none
						| <!-- エリア2 -->
						div.margin-bottom-s
							img(src='https://www.rakuten.ne.jp/gold/re-wall/images/left/search-title.gif')
							<div id="searchform" class="all-width-1-1 padding-xs">
							<form class="text bgcolor-w" style="width: 100%; display: block;" method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
								<input value="6" type="hidden" name="sv">
								<input value="243143" type="hidden" name="sid">
								<!-- 店舗ID-->
								<input value="re-wall" type="hidden" name="su">
								<!-- 店舗URL-->
								<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
								<!-- 店舗名-->
								<input value="A" type="hidden" name="f">
								<input class="text bgcolor-w all-width-3-4" style="border: solid 1px #b2b2b2; padding: 2px;" type="text" name="sitem" placeholder="商品を検索">
								<!-- 検索キーワード-->
								<input class="btn all-width-1-5" style="border: solid 1px #b2b2b2;"  value="検索" type="submit">
								<!-- 検索ボタン-->
							</form>
						</div>
						div
							div.grid-none.s-chwidth-1-1
								include module/rewall-template/_category-list
					section.area3
						div.padding-xs.area3-1
							| <!-- エリア3-1 ここにコンテンツ-->
							| <!-- widthは絶対に(％)で指定すること。-->
							div
								nav.pankuzu.font-xs
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME
									a.link(href='') 送料・配送について
								div.center.margin-top-s.margin-bottom-s
									h2.midasi.font-m 送料・配送について
								h3.font-m.padding-xs.bgcolor-1-l(style='border-left: solid 8px #7291cf;') 送料について
								ul.font-xs
									li 送料は商品によって異なります。
									li 沖縄、北海道、その他離島への配送の場合、追加送料が発生する場合があります。
									li 追加送料が発生する場合、詳細をメールにてご連絡致します。
									li 商品の発送は、追加送料のご承諾を頂いてからとなります。(送料に変更が無い場合は通常通り発送致します。)
								h3.font-m.padding-xs.bgcolor-1-l.margin-top-s(style='border-left: solid 8px #7291cf;') 配送、お届けについて
								ul.font-xs
									li 配送業者の指定を承ることはできません。
									li 地域によってはお届けが不可または日数がかかる場合がございます。
									li ラッピングを行うことはできません。予めご了承ください。
									li 贈答品・プレゼント用等の用途により、価格の分かるものの同封を希望しない場合、注文時の備考欄にご記入ください。
								h3.font-m.padding-xs.bgcolor-1-l.margin-top-s(style='border-left: solid 8px #7291cf;') 複数の商品をご注文の際の送料について
								img(src='https://www.rakuten.ne.jp/gold/re-wall/assets/img/souryou-info.jpg')
								ul.font-xs
									li グループが違うものは、発送元がそれぞれ異なります。
									li 発送元がそれぞれ異なる商品を購入した場合、複数口でお届けになります。同梱は承れません。
									li グループが異なる送料別の商品を購入した場合、それぞれの送料が発生します。
									li 楽天の仕様上、【送料無料】または【１件分の送料】が表示される場合がございます。
									li 注文時の表記より追加送料が発生する場合、メールにてご連絡致しますので、確認と返信をお願いします。
									li 商品の発送は、追加送料のご承諾を頂いてからとなります。(送料に変更が無い場合は通常通り発送致します。)
								h4.font-m.padding-xs.bgcolor-1-l.margin-top-s(style='border-left: solid 8px #7291cf;') 商品のグループ一覧
								div.margin-top-xs
									p.font-xs ※商品ページに【送料無料】と記載のある商品は送料無料です。
									p.font-xs ※同一グループの商品は同じ発送元のため、同梱発送可能です。
									p.font-xs ※沖縄、北海道、その他離島への配送の場合、追加送料が発生する場合があります。
								duv.grid-xs
									div.s-width-1-1.m-width-1-1
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-1.font-xs.padding-xs グループA
											p.font-xs.margin-xs 送料886円<br>※60サイズ以内の場合は648円
											ul.font-xs.padding-xs
												li d-c-fix(1mカット商品)
												li magic-fix(1mカット商品)
												li mt マスキングテープ(一部メール便発送可)
												li ウォールステッカー(一部メール便発送可)
												li シール壁紙
												li 壁紙施工道具
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-2.font-xs.padding-xs グループB
											p.font-xs.margin-xs 送料1,080円
											ul.font-xs.padding-xs
												li 中川ケミカルカッティングシート(1mカット商品)
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-3.font-xs.padding-xs グループC
											p.font-xs.margin-xs 送料1,080円<br>※5m(数量50)以上で送料無料
											ul.font-xs.padding-xs
												li 硬質塩ビシートAltyno
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-4.font-xs.padding-xs グループD
											p.font-xs.margin-xs 送料886円
											ul.font-xs.padding-xs
												li ビニール壁紙 のり付き壁紙
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-5.font-xs.padding-xs グループE
											p.font-xs.margin-xs 送料886円
											ul.font-xs.padding-xs
												li ビニール壁紙 のりなし壁紙
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-6.font-xs.padding-xs グループF
											p.font-xs.margin-xs ※送料はサイズによって異なります。各商品ページをご確認ください。
											ul.font-xs.padding-xs
												li 吸音パネル フェルメノン
									div.s-width-1-1.m-width-1-2
										div(style='border: solid 1px #b2b2b2;')
											p
												span.color-w.bgcolor-7.font-xs.padding-xs グループG
											p.font-xs.margin-xs 送料1,080円〜
											ul.font-xs.padding-xs
												li ペンキ
												li ペンキ用施工道具
								
						div.bgcolor-1.padding-xs.margin-top-s.bgcolor-b-l
							| <!-- エリア3-2 -->
							include module/rewall-template/_foot-contents
					section.area4
						div.bgcolor-1
						| <!-- エリア4 -->
			section.area5
				div.bgcolor-b-l
					| <!-- エリア5 -->
					include module/rewall-template/_footer
