doctype html

include base/_config

html(lang="ja")
	head
		include module/common/_head
		link(href="https://www.rakuten.ne.jp/gold/re-wall/assets/css/style.min.css", rel="stylesheet")
		title 壁紙のトキワ Rewall | よくある質問
			
		body
			div.wrap(style='width: 1040px;')
				div.template.template-1
					section.area1
						| <!-- エリア1 -->
						div.grid-none.padding-xs
							div.s-width-1-1.m-width-1-3.l-width-1-5.center
								a(href='https://www.rakuten.ne.jp/gold/re-wall/', target='_top')
									img.s-width-2-3.m-width-1-1(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/logo-0725.png')
							div.s-none.m-none.l-width-1-5
							div.m-width-2-3.l-width-3-5.right
								div.grid-xs
									div.s-width-1-1.m-width-1-1.l-width-2-3
										address
											<i class="fas fa-phone fa-fw"></i>
											a(href='tel:0120-771-332')
												span.font-s.bold 0120-771-332
											span.font-xs (平日9時から17時まで受付)
										address
											<i class="fas fa-mobile-alt fa-fw"></i>
											a(href='tel:0584-89-0071')
												span.font-s.bold 0584-89-0071
											span.font-xs (平日9時から17時まで受付)
									div.s-none.m-none.all-width-1-3
										img(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/tokiwa-logo.png')
											
								nav.font-xs.margin-top-s
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME | 
									a.link(href='https://event.rakuten.co.jp/guide/howtobuy/') ご利用ガイド | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info.html') 店舗情報 | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info2.html') 送料・お支払・返品 | 
									a.link(href='https://review.rakuten.co.jp/shop/4/243143_243143/?sort=3&b=0&mf=&a=') お客様の声 | 
									a.link(href='https://www.rakuten.co.jp/') 楽天市場
			
			div.bgcolor-b-l
				div.wrap.right(style='width: 1040px;')
					<div id="searchform" class="margin-right-xs">
					<form method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
						<input value="6" type="hidden" name="sv">
						<input value="243143" type="hidden" name="sid">
						<!-- 店舗ID-->
						<input value="re-wall" type="hidden" name="su">
						<!-- 店舗URL-->
						<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
						<!-- 店舗名-->
						<input value="A" type="hidden" name="f">
						<input class="text bgcolor-w" style="margin: 8px 4px; padding: 4px; border: solid 1px #b2b2b2; max-width: 240px; width: 40%;" type="text" name="sitem" placeholder="商品を検索">
						<!-- 検索キーワード-->
						<input class="btn" style="padding: 2px 8px; border: solid 1px #b2b2b2;"  value="検索" type="submit">
						<!-- 検索ボタン-->
					</form>
				</div>

			div.wrap.margin-bottom-l.padding-xs(style='width: 1040px;')
				div.template.template-1
					section.area1(style='margin-bottom: 24px;')
						div.grid-none.s-chwidth-1-2.m-chwidth-1-5.l-chwidth-1-6
							include module/rewall-template/_category-list
						include module/rewall-template/_head-contents

					section.area2.s-none
						| <!-- エリア2 -->
						div.margin-bottom-s
							img(src='https://www.rakuten.ne.jp/gold/re-wall/images/left/search-title.gif')
							<div id="searchform" class="all-width-1-1 padding-xs">
							<form class="text bgcolor-w" style="width: 100%; display: block;" method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
								<input value="6" type="hidden" name="sv">
								<input value="243143" type="hidden" name="sid">
								<!-- 店舗ID-->
								<input value="re-wall" type="hidden" name="su">
								<!-- 店舗URL-->
								<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
								<!-- 店舗名-->
								<input value="A" type="hidden" name="f">
								<input class="text bgcolor-w all-width-3-4" style="border: solid 1px #b2b2b2; padding: 2px;" type="text" name="sitem" placeholder="商品を検索">
								<!-- 検索キーワード-->
								<input class="btn all-width-1-5" style="border: solid 1px #b2b2b2;"  value="検索" type="submit">
								<!-- 検索ボタン-->
							</form>
						</div>
						div
							div.grid-none.s-chwidth-1-1
								include module/rewall-template/_category-list
					section.area3
						div.padding-xs.area3-1
							| <!-- エリア3-1 ここにコンテンツ-->
							| <!-- widthは絶対に(％)で指定すること。-->
							div
								nav.pankuzu.font-xs
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME
									a.link(href='') よくある質問
								section.font-s.grid-xs.s-chwidth-1-1
									h1.font-l.center.midasi-3.padding-xs  よくある質問と回答
									p.margin-top-m.center お客様よりよくお問い合わせいただくご質問をQ&A方式で纏めました。<br>お問い合わせの前に一度ご確認ください。
										
								section.grid.s-chwidth-1-1.margin-top-s
									div
										h2.font-m.midasi-2 特に多いお問い合わせ・ご質問
									div.accordion.faq.cursor.margin-top-xs
										div
											input#faq-ex-1(type='radio', name='faq-1')
											label(for='faq-ex-1').padding-xs.font-s.bgcolor-1.color-w WFanの動作に不具合がありました。返品・交換・修理は可能ですか？
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 現在弊社では在庫完売の為、交換を承ることができません。<br>こちらの商品は購入日より6ヶ月のメーカー保証が付属しておりますので、メーカーのサポートページより、交換・修理のお問い合わせをお願い致します。<br>
													a.link.color-1(href='https://w-fan.jp/support/', target='_blank') WFan 公式サポートページ(外部サイト)
										hr
										div
											input#faq-1-1(type='radio', name='faq-1')
											label(for='faq-1-1').padding-xs.font-s.bgcolor-1.color-w 返品・返金はできますか？
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 原則、お客様都合での返品・返金を承ることはできません。<br>尚、不良品による返品・交換のご希望の際は商品到着後1週間以内に当店までご連絡ください。
										hr
										div
											input#faq-1-2(type='radio', name='faq-1')
											label(for='faq-1-2').padding-xs.font-s.bgcolor-1.color-w 注文した商品の色・柄・数量を間違えたので、変更したい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs ご注文商品の手配・発送前でしたら、変更可能です。<br>メールにて、変更を希望するご注文の【注文番号】( 243143-XXXXXXXX-XXXXXXXX )をご記入の上、<br>当店までご連絡ください。
										hr
										div
											input#faq-1-3(type='radio', name='faq-1')
											label(for='faq-1-3').padding-xs.font-s.bgcolor-1.color-w 色・柄を間違えてしまったので、交換したい。(商品到着後の場合)
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 一部の商品に限り、交換を承ることができます。<br>交換が可能な商品の場合、交換の際には商品の送料(往復)を負担頂きます。<br>交換先の商品は、数量・価格・種類が同じ商品に限ります。<br><br>壁紙や粘着シート等のカット商品は、お客様専用に商品をカットしお届けしている為、返品・交換は承れません。<br>メーカーによっては返品・交換不可のものがございます。予めご了承ください。

										hr
										div
											input#faq-1-4(type='radio', name='faq-1')
											label(for='faq-1-4').padding-xs.font-s.bgcolor-1.color-w 支払い方法を変更したい。<br>クーポンを使用し忘れたので、注文に適用して欲しい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs システム上、当店からは支払い方法の変更、クーポンを適用することができません。<br>大変お手数ですが、一度注文をキャンセルし再注文をお願い致します。<br>※併用不可や期限切れのクーポンについて、メールや備考欄にご連絡頂いても対応しかねますので、ご了承ください。

										hr
										div
											input#faq-1-5(type='radio', name='faq-1')
											label(for='faq-1-5').padding-xs.font-s.bgcolor-1.color-w 注文をキャンセルしたい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 楽天会員は注文から30分以内であれば購入履歴から注文をキャンセルすることができます(あす楽注文を除く)。<br>購入履歴から注文をキャンセルができない場合はお手数ですが、<br>メールにて、キャンセルを希望するご注文の【注文番号】( 243143-XXXXXXXX-XXXXXXXX )をご記入の上、当店までご連絡ください。<br>※ご注文の商品の手配・発送済みの場合、キャンセルを承ることはできません。

								section.grid.s-chwidth-1-1.margin-top-s
									div
										h2.font-m.midasi-2 商品について
									div.accordion.faq.cursor.margin-top-xs
										div
											input#faq-2-1(type='radio', name='faq-2')
											label(for='faq-2-1').padding-xs.font-s.bgcolor-1.color-w 商品のサンプルはありますか？
											div.accordion-content.bgcolor-1-l
												div.margin-xs.font-xs
													div 以下の商品はサンプルのお届けが可能です。<br>サンプル請求フォームにて、ご希望の品番を入力しご注文ください。<br>【無料サンプル】<br>・粘着シートd-c-fix<br>・シール壁紙magic-fix<br>・中川ケミカルカッティングシート<br>・粘着シートAltyno<br>・ビニール壁紙<br>
													div
														<form method="post" action="https://pamphlet.step.rakuten.co.jp/rms/mall/pa/pamphlet/vc" target="_top"><font>
														<button class="rPamphBtn font-xs" type="submit">無料サンプル請求フォームはこちら</button>
														<input value="PA01_000_001" type="hidden" name="__event">
														<input value="%CC%B5%CE%C1%A5%B5%A5%F3%A5%D7%A5%EB%A4%F2%C0%C1%B5%E1%A4%B9%A4%EB" type="hidden" name="panf_text">
														<input value="243143" type="hidden" name="shop_bid">
														<input value="%CA%C9%BB%E6%A4%CE%A5%C8%A5%AD%A5%EF%A1%A1%A5%EA%A5%A6%A5%A9%A1%BC%A5%EB" type="hidden" name="shop_name">
														<input value="10000171" type="hidden" name="item_id">
														<input value="%C7%B4%C3%E5%A5%B7%A1%BC%A5%C8+%A5%C9%A5%A4%A5%C4%C0%BD+d-c-fix+%CC%DA%CC%DC%CA%C1+%C2%E7%CD%FD%C0%D0%CA%C1+%C7%F2+%B9%F5+%B6%D290cm%A1%DF210cm" type="hidden" name="item_name">
														<input value="dcfix-B2" type="hidden" name="item_number">
														<input value="re-wall" type="hidden" name="shopurl">
														<input value="/re-wall/dcfix-02-346-5015/" type="hidden" name="pageurl">
														<input value="0" type="hidden" name="sell_type"></font></form>
											
													div <br>【有料サンプル】※クリックで販売ページへ移動します<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/kf-wp-sample/', target='_blank') ・シール壁紙<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/leeceotamesiset/', target='_blank') ・フリース壁紙 輸入壁紙 お試しセット<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/reform_floor_sample/', target='_blank') ・貼ってはがせるフロアシート<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/seal-ep-sample/', target='_blank') ・デコストーンタイル<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/decoself-sample/', target='_blank') ・フローリング デコセルフ<br>
													a.link.color-1(href='https://item.rakuten.co.jp/re-wall/pitafi-sample/', target='_blank') ・フローリング ピタフィー<br>
										hr
										div
											input#faq-2-2(type='radio', name='faq-2')
											label(for='faq-2-2').padding-xs.font-s.bgcolor-1.color-w 賃貸・DIYにも使える壁紙が欲しい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 賃貸やDIYでの施工の場合は、<br>・輸入壁紙<br>・フリース壁紙<br>・シール壁紙<br>からお選びください。<br>これらの商品はお部屋の壁紙の上から貼る壁紙となります。<br>・ビニール壁紙（のり付き/のりなし壁紙）はお部屋の壁紙を剥がしてから施工する商品の為、原状復帰は不可能になります。<br>お間違えのないよう、ご注意ください。
										hr
										div
											input#faq-2-3(type='radio', name='faq-2')
											label(for='faq-2-3').padding-xs.font-s.bgcolor-1.color-w 壁紙の種類・違いがよくわからない。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 【輸入壁紙、フリース壁紙】<br>施工には専用ののりが必要となります。<br>のりや施工用具の準備が必要になりますが、左右の柄の突き合わせが容易で、横幅も短いので1人でもキレイに簡単に施工することができます。<br><br>【シール壁紙】<br>剥離紙を剥がして壁に貼るだけで施工が可能です。商品によっては左右の柄が合わないものがございますので、予めご了承ください。<br><br>【ビニール壁紙（のり付き/のりなし壁紙）】<br>壁や天井の内装仕上用のものになります。<br>現在の壁紙を剥がして施工する商品となり、左右の柄の突き合わせも難しい為、賃貸の壁や素人の方に施工にはオススメできません。
										hr
										div
											input#faq-2-4(type='radio', name='faq-2')
											label(for='faq-2-4').padding-xs.font-s.bgcolor-1.color-w 新築・リフォームに使える壁紙が欲しい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs ビニール壁紙（のり付き/のりなし壁紙）からお選びください。<br>のり付き壁紙は、のりが乾く場合がありますので、商品到着後2週間以内に施工してください。<br>施工を依頼されるリフォーム・内装業者様とご相談されると宜しいかと思います。
										hr
										div
											input#faq-2-5(type='radio', name='faq-2')
											label(for='faq-2-5').padding-xs.font-s.bgcolor-1.color-w 壁紙、粘着シートのmカットの商品を１m毎にカットして、○枚で届けて欲しい。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 申し訳ありませんが、カット枚数や方法の指定を承ることは出来ません。<br>商品お届け後、お客様ご自身でカットをお願い致します。
										hr
										div
											input#faq-2-6(type='radio', name='faq-2')
											label(for='faq-2-6').padding-xs.font-s.bgcolor-1.color-w 輸入壁紙は注文後、何日位で届きますか？
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 注文日により、お届け時期が変わります。<br>国内在庫品は1〜3営業日でお届け可能です。<br><br>▼輸入壁紙お届けまでの流れ<br>注文確定後より、最初の火曜日に海外へお取り寄せの手続きを行います。<br>お取り寄せの手続き後、10~14日で日本に到着します。<br>到着後、当店スタッフが検品を行い、お客様の元へ発送致します。<br><br>詳細な納期等は当店までお問い合わせください。<br>お問い合わせの際は、ご希望の商品の品番を必ずご記入ください。<br><br>※rasch2018のコレクションは販売終了、在庫限りの商品となります。
										hr
										div
											input#faq-2-7(type='radio', name='faq-2')
											label(for='faq-2-7').padding-xs.font-s.bgcolor-1.color-w 以前と同じ商品を買ったのに、色味が若干違うのですが……
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 生産時期(ロット)や保存環境により、どうしても色味に差が出てきてしまう場合がございます。<br><br>お客様のご注文時期を元に、同時期に生産された商品をお探しすることも出来ますが、在庫の有無や色味は保証しかねますので、ご了承ください。<br>ご注文の際には事前に必要な数量を確認し、余裕を持った数量でご注文いただくことをおすすめしております。<br>ご理解の程よろしくお願い致します。

								section.grid.s-chwidth-1-1.margin-top-s
									div
										h2.font-m.midasi-2 注文について
									div.accordion.faq.cursor.margin-top-xs
										div
											input#faq-3-1(type='radio', name='faq-3')
											label(for='faq-3-1').padding-xs.font-s.bgcolor-1.color-w 注文したのにメールが届かない。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs ご注文後楽天より、<br>【楽天市場】注文内容ご確認（自動配信メール）<br>が自動送信されます。<br>また、ご注文が購入履歴に反映されている場合、ご注文は完了しております。<br>追加送料が発生する場合、送料をメールにてご連絡し了承を頂いてからに発送になります。<br>メールが確認出来ない場合は、お手数ですが当店までご連絡ください。<br><br>こちらのメールが届いていない場合、下記の可能性が考えられます。<br>・当店からのメールが迷惑メールに振り分けられている。<br>・メールの設定にて、受信拒否の設定をされている。<br>・メールアドレスに間違いがある。<br><br>楽天市場公式のヘルプもご確認ください。<br>
													a.link.color-1(href='https://ichiba.faq.rakuten.net/detail/000006492', target='_blank') →【楽天市場｜公式ヘルプ】注文後の確認メールが届かない
										hr

								section.grid.s-chwidth-1-1.margin-top-s
									div
										h2.font-m.midasi-2 配送・送料について
									div.accordion.faq.cursor.margin-top-xs
										div
											input#faq-4-1(type='radio', name='faq-4')
											label(for='faq-4-1').padding-xs.font-s.bgcolor-1.color-w 沖縄・離島への送料について。
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 沖縄県や離島への配送の場合、追加で送料が発生する場合がございます。<br>各配送業者にお見積りを取っておりますので、ご注文後に改めて送料の方をご案内させていただきます。<br>追加で送料が発生する場合、お客様からの了承を頂いてからの発送になります。
										hr
										div
											input#faq-4-2(type='radio', name='faq-4')
											label(for='faq-4-2').padding-xs.font-s.bgcolor-1.color-w 複数の商品を購入した場合、送料はいくらになりますか？
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 複数の商品を購入し、それぞれの商品の発送元が異なる場合、それぞれの商品ごとに送料が発生します。<br>楽天のシステム上、注文時に１件分の送料しか反映がされない場合があります。<br>送料が追加で発生する場合は、当店スタッフがメールにてご連絡致します。<br>お客様からの了承を頂いてからの発送になりますので、ご確認をお願い致します。
										hr
										div
											input#faq-4-3(type='radio', name='faq-4')
											label(for='faq-4-3').padding-xs.font-s.bgcolor-1.color-w お届け希望日や時間帯の変更はできますか？
											div.accordion-content.bgcolor-1-l
												p.margin-xs.font-xs 商品発送前の場合、当店までご連絡ください。<br>商品発送後の場合は当店では承ることが出来ませんので、配送業者までご連絡頂ますようお願い申し上げます。<br>※商品や配送業者によっては指定できない場合がございます。予めご了承ください。
										hr

								section.grid.s-chwidth-1-1.margin-top-s
									div
										h2.font-m.midasi-3.center.padding-s 疑問や不明点は解決しましたか？
											p.font-s その他、不明点や商品についてのご質問はこちらよりお問い合わせください。
											a(href='https://ask.step.rakuten.co.jp/inquiry-form/index.phtml?shop_id=243143&act=input&ms=500&fidmmy=1', target='_blank').button-color-4.mail.margin-m お問い合わせフォームへ
											p.font-xs 営業時間 9:00~17:00（土日祝・夏季休業・年末年始を除く）
								
						div.bgcolor-1.padding-xs.margin-top-s.bgcolor-b-l
							| <!-- エリア3-2 -->
							include module/rewall-template/_foot-contents
					section.area4
						div.bgcolor-1
						| <!-- エリア4 -->
			section.area5
				div.bgcolor-b-l
					| <!-- エリア5 -->
					include module/rewall-template/_footer
