doctype html

include base/_config

html(lang="ja")
	head
		include module/common/_head
		link(href="https://www.rakuten.ne.jp/gold/re-wall/assets/css/style.min.css", rel="stylesheet")
		title 壁紙のトキワ Rewall | テンプレート
			
		body
			div.wrap(style='width: 1040px;')
				div.template.template-1
					section.area1
						| <!-- エリア1 -->
						div.grid-none.padding-xs
							div.s-width-1-1.m-width-1-3.l-width-1-5.center
								a(href='https://www.rakuten.ne.jp/gold/re-wall/', target='_top')
									img.s-width-2-3.m-width-1-1(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/logo-0725.png')
							div.s-none.m-none.l-width-1-5
							div.m-width-2-3.l-width-3-5.right
								div.grid-xs
									div.s-width-1-1.m-width-1-1.l-width-2-3
										address
											<i class="fas fa-phone fa-fw"></i>
											a(href='tel:0120-771-332')
												span.font-s.bold 0120-771-332
											span.font-xs (平日9時から17時まで受付)
										address
											<i class="fas fa-mobile-alt fa-fw"></i>
											a(href='tel:0584-89-0071')
												span.font-s.bold 0584-89-0071
											span.font-xs (平日9時から17時まで受付)
									div.s-none.m-none.all-width-1-3
										img(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/tokiwa-logo.png')
											
								nav.font-xs.margin-top-s
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME | 
									a.link(href='https://event.rakuten.co.jp/guide/howtobuy/') ご利用ガイド | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info.html') 店舗情報 | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info2.html') 送料・お支払・返品 | 
									a.link(href='https://review.rakuten.co.jp/shop/4/243143_243143/?sort=3&b=0&mf=&a=') お客様の声 | 
									a.link(href='https://www.rakuten.co.jp/') 楽天市場
			
			div.bgcolor-b-l
				div.wrap.right(style='width: 1040px;')
					<div id="searchform" class="margin-right-xs">
					<form method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
						<input value="6" type="hidden" name="sv">
						<input value="243143" type="hidden" name="sid">
						<!-- 店舗ID-->
						<input value="re-wall" type="hidden" name="su">
						<!-- 店舗URL-->
						<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
						<!-- 店舗名-->
						<input value="A" type="hidden" name="f">
						<input class="text bgcolor-w" style="margin: 8px 4px; padding: 4px; border: solid 1px #b2b2b2; max-width: 240px; width: 40%;" type="text" name="sitem" placeholder="商品を検索">
						<!-- 検索キーワード-->
						<input class="btn" style="padding: 2px 8px; border: solid 1px #b2b2b2;"  value="検索" type="submit">
						<!-- 検索ボタン-->
					</form>
				</div>

			div.wrap.margin-bottom-l.padding-xs(style='width: 1040px;')
				div.template.template-1
					section.area1(style='margin-bottom: 24px;')
						div.grid-none.s-chwidth-1-2.m-chwidth-1-5.l-chwidth-1-6
							include module/rewall-template/_category-list
						include module/rewall-template/_head-contents

					section.area2.s-none
						| <!-- エリア2 -->
						div.margin-bottom-s
							img(src='https://www.rakuten.ne.jp/gold/re-wall/images/left/search-title.gif')
							<div id="searchform" class="all-width-1-1 padding-xs">
							<form class="text bgcolor-w" style="width: 100%; display: block;" method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
								<input value="6" type="hidden" name="sv">
								<input value="243143" type="hidden" name="sid">
								<!-- 店舗ID-->
								<input value="re-wall" type="hidden" name="su">
								<!-- 店舗URL-->
								<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
								<!-- 店舗名-->
								<input value="A" type="hidden" name="f">
								<input class="text bgcolor-w all-width-3-4" style="border: solid 1px #b2b2b2; padding: 2px;" type="text" name="sitem" placeholder="商品を検索">
								<!-- 検索キーワード-->
								<input class="btn all-width-1-5" style="border: solid 1px #b2b2b2;"  value="検索" type="submit">
								<!-- 検索ボタン-->
							</form>
						</div>
						div
							div.grid-none.s-chwidth-1-1
								include module/rewall-template/_category-list
					section.area3
						div.padding-xs.area3-1
							| <!-- エリア3-1 ここにコンテンツ-->
							| <!-- widthは絶対に(％)で指定すること。-->
							div
								nav.pankuzu.font-xs
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME
									a.link(href='https://item.rakuten.co.jp/re-wall/c/0000000286/') はがせる輸入壁紙
									a.link(href='') 輸入壁紙・フリース壁紙の貼り方
								div.center.margin-top-s.margin-bottom-s
									h2.midasi.font-m 輸入壁紙、フリース壁紙の貼り方
								h3.font-m.margin-top-m.center.bgcolor-1.color-w 用意するもの
								div.grid-xs.s-chwidth-1-2.m-chwidth-1-6.center.font-xs
									a(href='https://item.rakuten.co.jp/re-wall/superfresco/')
										img(src='assets/img/fresco.jpg')
										p 粉のり
									a(href='https://item.rakuten.co.jp/re-wall/baketu/')
										img(src='assets/img/bucket.jpg')
										p バケツ
									a(href='https://item.rakuten.co.jp/re-wall/yuka-cutter/')
										img(src='assets/img/cutter.jpg')
										p カッター
									a(href='https://item.rakuten.co.jp/re-wall/bera7/')
										img(src='assets/img/bera7.jpg')
										p 地ベラ
									a(href='https://item.rakuten.co.jp/re-wall/nori-ro-ra-/')
										img(src='assets/img/roller.jpg')
										p ローラー(orハケ）
									a(href='https://item.rakuten.co.jp/re-wall/sumusa/')
										img(src='assets/img/smoother.jpg')
										p スムーサー
								h3.font-m.margin-top-m.center.bgcolor-1.color-w あると便利なアイテム
								div.grid-xs.s-chwidth-1-2.m-chwidth-1-6.center.font-xs
									a(href='https://item.rakuten.co.jp/re-wall/masker/')
										img(src='assets/img/masker.jpg')
										p マスカー
									a(href='https://item.rakuten.co.jp/re-wall/mt50/')
										img(src='assets/img/masking-tape.jpg')
										p マスキングテープ
									a(href='')
										img(src='assets/img/nazehake-s.jpg')
										p 撫ぜバケ
								h3.font-m.margin-top-m.center.bgcolor-1.color-w お得な施工道具セット
								div.grid-xs.s-chwidth-1-2.m-chwidth-1-4.center.font-xs
									a(href='https://item.rakuten.co.jp/re-wall/ro-ra-set02/')
										img(src='https://shop.r10s.jp/re-wall/cabinet/wall/dougu/ro-ra-set2.jpg')
										p 9点セット
									a(href='https://item.rakuten.co.jp/re-wall/ro-ra-set/')
										img(src='https://shop.r10s.jp/re-wall/cabinet/wall/dougu/tool9set-main.jpg')
										p 9点セット＋のり
									a(href='https://item.rakuten.co.jp/re-wall/ro-ra-set-all/')
										img(src='https://shop.r10s.jp/re-wall/cabinet/wall/dougu/ro-ra-set-all.jpg')
										p 12点セット
								h3.font-m.margin-top-m.center.bgcolor-1.color-w 貼り方動画はコチラ
								div.s-none
									<script src="https://stream.cms.rakuten.co.jp/gate/play/?w=700&h=400&mid=1101407981&shop_id=243143&vid=878673676002&pt=0&cmid=1100000001&bkt=&cl1=&cl2=&cl3=&cl4=&did=" type="text/javascript"></script>
								div.m-none.l-none
									<script src="https://stream.cms.rakuten.co.jp/gate/play/?w=320&h=200&mid=1101407981&shop_id=243143&vid=878673676002&pt=0&cmid=1100000001&bkt=&cl1=&cl2=&cl3=&cl4=&did=" type="text/javascript"></script>

								h3.font-m.margin-top-m.center.bgcolor-1.color-w 貼り方
								div.grid-xs.font-xs.s-chwidth-1-1.m-chwidth-1-2
									div
										p.font-m.bgcolor-1-l.padding-xs 1.のりを作る。
										p.font-s.margin-top-s ぬるま湯を入れたバケツに、粉のりを入れて混ぜます。
										div.midasi-2.margin-top-m.font-xs 
											p ・バケツにビニール袋を被せておくと、後片付けが簡単です！
											p ・少量ずつ粉のりを混ぜると、ダマができにくくなります。
									img(src='assets/img/harikata-01.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 2.壁紙を必要な長さにカット。
										p.font-s.margin-top-s 壁のサイズに合わせて、壁紙を必要な長さにカットします。<br>天井高＋5cmほど余分にカットしましょう。
										div.midasi-2.margin-top-m.font-xs 
											p ・カットする際は柄のリピートに気をつけて下さい。
									img(src='assets/img/harikata-02.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 3.汚したくない床などを養生する。
										p.font-s.margin-top-s ビニール袋やマスカー、マスキングテープ等で汚したくない箇所を保護しましょう。
									img(src='assets/img/harikata-03.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 4.壁紙1枚分ののりを塗る。
										p.font-s.margin-top-s 1で用意したのり、ハケを使って壁に壁紙1枚分を塗ります。
										div.midasi-2.margin-top-m.font-xs 
											p なぞった時に線ができるくらいにたっぷり塗りましょう。
											p のりは20分位乾かないので、急がなくて大丈夫です。
									img(src='assets/img/harikata-04.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 5.1枚目の壁紙を貼る。
										p.font-s.margin-top-s 切りしろ部分を出すために、上に5cm程余分に貼ります。
										div.midasi-2.margin-top-m.font-xs 
											p 撫ぜバケやスムーサーで、真ん中→上→下と撫でると、きれいに空気を抜くことが出来ます。
									img(src='assets/img/harikata-05.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 6.壁紙をカットする。
										p.font-s.margin-top-s カットする部分を竹べらなどで、クセをしっかりつけ、地ベラとカッターでカットをします。
										div.midasi-2.margin-top-m.font-xs 
											p 写真のように、地ベラを定規代わりにして切ると簡単！
									img(src='assets/img/harikata-06.jpg')
									hr.hr-2.all-width-1-1
									div
										p.font-m.bgcolor-1-l.padding-xs 7.同様に2枚目を貼る。
										p.font-s.margin-top-s 4と同様にのりを塗り、その上に2枚目の壁紙を貼ります。<br>柄のある壁紙は、リピートの柄が合うように注意して貼りましょう。<br>貼り終えたら、6と同様にカットします。
									img(src='assets/img/harikata-07.jpg')
									hr.hr-2.all-width-1-1
									div.center.all-width-1-1
										p.all-width-1-1.font-m 5〜6を繰り返したら完成です！
										div.all-width-1-1.margin-top-s
											img.all-width-2-3(src='assets/img/harikata-08.jpg')
									hr.hr-2.all-width-1-1
										
								p.color-w.bgcolor-b.padding-xs.margin-top-s コンテンツ
								a(href='https://item.rakuten.co.jp/re-wall/fleeceotamesiset/')
									img.all-width-1-2(src='https://www.rakuten.ne.jp/gold/re-wall/kabegami/images/fleeceset-bn-01.jpg')
								a(href='https://item.rakuten.co.jp/re-wall/trialset/')
									img.all-width-1-2(src='https://www.rakuten.ne.jp/gold/re-wall/kabegami/images/trial-bn.jpg')
								
						div.bgcolor-1.padding-xs.margin-top-s.bgcolor-b-l
							| <!-- エリア3-2 -->
							include module/rewall-template/_foot-contents
					section.area4
						div.bgcolor-1
						| <!-- エリア4 -->
			section.area5
				div.bgcolor-b-l
					| <!-- エリア5 -->
					include module/rewall-template/_footer
