doctype html

include base/_config

html(lang="ja")
	head
		include module/common/_head
		link(href="https://www.rakuten.ne.jp/gold/re-wall/assets/css/style.min.css", rel="stylesheet")
		title 壁紙のトキワ Rewall | テンプレート
			
		body
			div.wrap(style='width: 1040px;')
				div.template.template-2
					section.area1
						| <!-- エリア1 -->
						div.grid-none.padding-xs
							div.s-width-1-1.m-width-1-3.l-width-1-5.center
								a(href='https://www.rakuten.ne.jp/gold/re-wall/', target='_top')
									img.s-width-2-3.m-width-1-1(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/logo-0725.png')
							div.s-none.m-none.l-width-1-5
							div.m-width-2-3.l-width-3-5.right
								div.grid-xs
									div.s-width-1-1.m-width-1-1.l-width-2-3
										address
											<i class="fas fa-phone fa-fw"></i>
											a(href='tel:0120-771-332')
												span.font-s.bold 0120-771-332
											span.font-xs (平日9時から17時まで受付)
										address
											<i class="fas fa-mobile-alt fa-fw"></i>
											a(href='tel:0584-89-0071')
												span.font-s.bold 0584-89-0071
											span.font-xs (平日9時から17時まで受付)
									div.s-none.m-none.all-width-1-3
										img(src='https://www.rakuten.ne.jp/gold/re-wall/images/header/tokiwa-logo.png')
											
								nav.font-xs.margin-top-s
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME | 
									a.link(href='https://event.rakuten.co.jp/guide/howtobuy/') ご利用ガイド | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info.html') 店舗情報 | 
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/info2.html') 送料・お支払・返品 | 
									a.link(href='https://review.rakuten.co.jp/shop/4/243143_243143/?sort=3&b=0&mf=&a=') お客様の声 | 
									a.link(href='https://www.rakuten.co.jp/') 楽天市場
			
			div.bgcolor-b-l
				div.wrap.right(style='width: 1040px;')
					<div id="searchform" class="margin-right-xs">
					<form method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
						<input value="6" type="hidden" name="sv">
						<input value="243143" type="hidden" name="sid">
						<!-- 店舗ID-->
						<input value="re-wall" type="hidden" name="su">
						<!-- 店舗URL-->
						<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
						<!-- 店舗名-->
						<input value="A" type="hidden" name="f">
						<input class="text bgcolor-w" style="margin: 8px 4px; padding: 4px; border: solid 1px #b2b2b2; max-width: 240px; width: 40%;" type="text" name="sitem" placeholder="商品を検索">
						<!-- 検索キーワード-->
						<input class="btn" style="padding: 2px 8px; border: solid 1px #b2b2b2;"  value="検索" type="submit">
						<!-- 検索ボタン-->
					</form>
				</div>

			div.wrap.margin-bottom-l.padding-xs(style='width: 1040px;')
				div.template.template-2
					section.area1(style='margin-bottom: 24px;')
						div.grid-none.s-chwidth-1-2.m-chwidth-1-5.l-chwidth-1-6
							include module/rewall-template/_category-list
						include module/rewall-template/_head-contents

					section.area2.s-none
						| <!-- エリア2 -->
						div.margin-bottom-s
							img(src='https://www.rakuten.ne.jp/gold/re-wall/images/left/search-title.gif')
							<div id="searchform" class="all-width-1-1 padding-xs">
							<form class="text bgcolor-w" style="width: 100%; display: block;" method="get" action="https://esearch.rakuten.co.jp/rms/sd/esearch/vc" target="_top" accept-charset="euc-jp">
								<input value="6" type="hidden" name="sv">
								<input value="243143" type="hidden" name="sid">
								<!-- 店舗ID-->
								<input value="re-wall" type="hidden" name="su">
								<!-- 店舗URL-->
								<input value="壁紙のトキワ　リウォール" type="hidden" name="sn">
								<!-- 店舗名-->
								<input value="A" type="hidden" name="f">
								<input class="text bgcolor-w all-width-3-4" style="border: solid 1px #b2b2b2; padding: 2px;" type="text" name="sitem" placeholder="商品を検索">
								<!-- 検索キーワード-->
								<input class="btn all-width-1-5" style="border: solid 1px #b2b2b2;"  value="検索" type="submit">
								<!-- 検索ボタン-->
							</form>
						</div>
						div
							div.grid-none.s-chwidth-1-1
								include module/rewall-template/_category-list
					section.area3
						div.padding-xs.area3-1
							| <!-- エリア3-1 ここにコンテンツ-->
							| <!-- widthは絶対に(％)で指定すること。-->
							div
								nav.pankuzu.font-xs
									a.link(href='https://www.rakuten.ne.jp/gold/re-wall/') HOME
									a.link(href='') パンくず1
									a.link(href='') パンくず2
								div.center.margin-top-s.margin-bottom-s
									h2.midasi.font-m ここにタイトル
								p.font-s ここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキストここにテキスト
								div.grid-s.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5
									div
										div.bgcolor-w.hover-up
											a(href='')
												img(src='https://image.rakuten.co.jp/re-wall/cabinet/nakagawa/cs200-re-45x12.jpg')
												div.padding-xs
													p.font-xs 通常価格: 2,000円
													p.font-m.bold.color-4.center 1,000円
								
						div.bgcolor-1.padding-xs.margin-top-s.bgcolor-b-l
							| <!-- エリア3-2 -->
							include module/rewall-template/_foot-contents
					section.area4
						div.bgcolor-1
						| <!-- エリア4 -->
			section.area5
				div.bgcolor-b-l
					| <!-- エリア5 -->
					include module/rewall-template/_footer
