doctype html

include base/_config
include module/parts/timesale/_timesale-201907
include module/parts/timesale/_marathon-201908


html(lang="ja")
	head
		include module/common/_head
		link(href= paths.css + "style.min.css", rel="stylesheet")
		title 壁紙のトキワ Rewall | 日替わりタイムセール会場
		style.

	body.bgcolor-w
		div.wrap
			div.box-dashed-color-4.margin-s.padding-s
				p.font-xs 2019/07/26
				p.color-4.bold ▲長期休暇のお知らせ
				p.font-s 8/10(土)~8/18(日)の9日間は、誠に勝手ながら長期休暇とさせていただきます。
				p.font-s.margin-bottom-xs この間のお問い合わせのお返事、商品の発送はお受けできませんので十分ご注意下さい。
				p.font-s 長期休暇の配送については
					a(href='https://www.rakuten.ne.jp/gold/re-wall/kyuuka-chien/choukikyuuka-1907.html', target='_top').color-4.bold.link こちら
				
		//- div#sale-owari
			div#Sale.wrap.padding-bottom-l
				div.all-width-1-1.center
					h2.midasi.font-l Sale
						p.font-xs.color-4 今日のセール商品
				include module/parts/timesale/_timesale-Now

				div.grid.s-chwidth-1-1.m-chwidth-1-2.center
					div
						a.all-width-1-1.button-color-5(href='https://www.rakuten.co.jp/re-wall/news.html', target='_new') メルマガ登録はこちら(PC)
					div
						a.all-width-1-1.button-color-4(href='https://www.rakuten.ne.jp/gold/re-wall/timesale-page/timesale.html', target='_top') 日替わりセール会場はこちら


		div#sale-kaisai
			div.padding-s#PageTop(style='background-image: url("img/summersale_bg-pattern.jpg"); background-repeat:repeat; background-size:  100%; border-bottom: solid 4px #13547a;')
				div.wrap
					a(href='https://www.rakuten.ne.jp/gold/re-wall/timesale-page/sinseikatu_new.html', target='_top')
						img.hover-huwahuwa(src='img/summersale_header.png',width="100%")
			//- div.wrap
				div.padding-top-l.padding-bottom-l.all-width-1-1.center
					h2.midasi.font-l Special Sale
						p.font-xs.color-4 102時間限定！10%OFFセール開催！<br>期間：8/4 20:00 〜 8/9 1:59
				div.grid-s.s-chwidth-1-2.m-chwidth-1-4.l-chwidth-1-5.center
					-for (var i=0; i<marathon.length; i++)
						div
							div.bgcolor-1-l.hover-up.shadow
								p.center.bgcolor-1.color-w.font-xs.bgcolor-1.color-w.font-xs 8/4 20:00 〜 8/9 1:59
								a(href='https://item.rakuten.co.jp/re-wall/'+marathon[i]['code']+'/', target='_top')
									img(src=''+marathon[i]['img']+'')
								p.margin-top-xs.font-xs 通常価格：#{marathon[i]['price_b']}円
								p.margin-top-xs.color-4.font-s <span class='font-xs'>▶</span>#{marathon[i]['price_a']}円
									span (税込)

			//- div(style='background-image: url("img/bgimg-01.jpg"); background-repeat: repeat-x;')
			div
				div.padding-top-l.center
					h2.midasi.font-l Campaign
						p.font-xs.color-4 キャンペーン情報
				div.all-width-1-1.padding-s.margin-bottom-l
					//- div.grid.center
						div.s-width-1-2.m-width-1-4.l-width-1-4
							a(href!='https://coupon.rakuten.co.jp/getCoupon?getkey=RU81WC1YRkxGLVZUUkstVUo4Uw--&rt=', target='_top')
								img.hover-up(src='https://image.rakuten.co.jp/re-wall/cabinet/special/coupon-pc-3perc.jpg')
						div.s-width-1-2.m-width-1-4.l-width-1-4
							a(href!='https://coupon.rakuten.co.jp/getCoupon?getkey=S0FVUS1KQktKLUswRTEtS0FDTQ--&rt=')
								img.hover-up(src='https://image.rakuten.co.jp/re-wall/cabinet/special/coupon-pc-5perc.jpg', target='_top')

					div.wrap.margin-bottom-s
						div.grid.s-chwidth-1-1.m-chwidth-1-2.center
							div
								a.all-width-1-1.button-color-5(href='https://www.rakuten.co.jp/re-wall/news.html', target='_new') メルマガ登録はこちら(PC)
							//- div
								a.all-width-1-1.button-color-4(href='https://www.rakuten.ne.jp/gold/re-wall/timesale-page/timesale.html', target='_top') 日替わりセール会場はこちら


		script.
			var date = new Date();
			var sale_owari = new Date('2019/08/18 23:59:59');
			if (date > sale_owari) {
					document.getElementById('sale-kaisai').style.display = "none";
				}
			else {
				//- document.getElementById('sale-owari').style.display = "none";
				}

		script.
			var tabCount = 7;
			var Day = new Date().getDay();
			// セールではない商品を非表示に
			for (var i=0; i<tabCount; i++) {
				document.getElementById("timesale_"+i).style.display = "none";
			}
			document.getElementById("timesale_"+Day).style.display = "";
		script.
			// スムーススクロール
			$(function(){
			  $('a[href^="#"]').click(function(){
			    var speed = 500;
			    var href= $(this).attr("href");
			    var target = $(href == "#" || href == "" ? 'html' : href);
			    var position = target.offset().top;
			    $("html, body").animate({scrollTop:position}, speed, "swing");
			    return false;
			  });
			});
