-
    var Pickup_ID = [
    {
    	code : 'sp-wkc103bl',
    	price_b : '14,000',
    	price_a : '12,600',
    	off : '1,400',
    	img : 'cabinet/spice/zakka/sp-wkc103bl.jpg',
    },
    {
    	code : 'sp-wkc102sbk',
    	price_b : '9,800',
    	price_a : '8,820',
    	off : '980',
    	img : 'cabinet/spice/zakka/sp-wkc102sbk.jpg',
    },
    {
    	code : 'sp-wkc102bk',
    	price_b : '12,800',
    	price_a : '11,520',
    	off : '1,280',
    	img : 'cabinet/spice/zakka/sp-wkc102bk.jpg',
    },
    {
    	code : 'sp-ptln1920',
    	price_b : '3,800',
    	price_a : '3,420',
    	off : '380',
    	img : 'cabinet/spice/zakka/sp-ptln1730.jpg',
    },
    {
    	code : 'sp-ptln1730',
    	price_b : '3,500',
    	price_a : '3,150',
    	off : '350',
    	img : 'cabinet/spice/zakka/sp-ptln1920.jpg',
    },
    {
    	code : 'sp-ptln1710',
    	price_b : '2,800',
    	price_a : '2,520',
    	off : '280',
    	img : 'cabinet/spice/zakka/sp-pltn1710.jpg',
    },
    {
    	code : 'sp-df30ss01',
    	price_b : '3,000',
    	price_a : '2,700',
    	off : '300',
    	img : 'cabinet/spice/wfan/sp-df30ss01.jpg',
    },
    {
    	code : 'sp-cwln2021',
    	price_b : '1,800',
    	price_a : '1,620',
    	off : '180',
    	img : 'cabinet/spice/zakka/sp-cwln2021.jpg',
    },
    {
    	code : 'sp-cwln2013',
    	price_b : '2,800',
    	price_a : '2,520',
    	off : '280',
    	img : 'cabinet/spice/zakka/sp-cwln2013.jpg',
    },
    {
    	code : 'sp-8001gw',
    	price_b : '5,800',
    	price_a : '5,220',
    	off : '580',
    	img : 'cabinet/spice/corkcicle/sp-8001gw.jpg',
    },
    {
    	code : 'sp-7001',
    	price_b : '3,000',
    	price_a : '2,700',
    	off : '300',
    	img : 'cabinet/spice/corkcicle/sp-7001.jpg',
    },
    {
    	code : 'sp-5063',
    	price_b : '4,400',
    	price_a : '3,960',
    	off : '440',
    	img : 'cabinet/spice/corkcicle/sp-5063.jpg',
    },
    {
    	code : 'sp-3101b',
    	price_b : '3,000',
    	price_a : '2,700',
    	off : '300',
    	img : 'cabinet/spice/corkcicle/sp-3101b.jpg',
    },
    {
    	code : 'sp-2312sum',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2312sum.jpg',
    },
    {
    	code : 'sp-2312pww',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2312pww.jpg',
    },
    {
    	code : 'sp-2312pa',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2312pa.jpg',
    },
    {
    	code : 'sp-2312ec',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2312ec.jpg',
    },
    {
    	code : 'sp-2312bs',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2312bs.jpg',
    },
    {
    	code : 'sp-2124lid',
    	price_b : '800',
    	price_a : '720',
    	off : '80',
    	img : 'cabinet/spice/corkcicle/sp-2124lid.jpg',
    },
    {
    	code : 'sp-2124bc',
    	price_b : '4,400',
    	price_a : '3,960',
    	off : '440',
    	img : 'cabinet/spice/corkcicle/sp-2124bc.jpg',
    },
    {
    	code : 'sp-2116wb',
    	price_b : '3,600',
    	price_a : '3,240',
    	off : '360',
    	img : 'cabinet/spice/corkcicle/sp-2116wb.jpg',
    },
    {
    	code : 'sp-2116sum',
    	price_b : '3,900',
    	price_a : '3,510',
    	off : '390',
    	img : 'cabinet/spice/corkcicle/sp-2116sum.jpg',
    },
    {
    	code : 'sp-2116pww',
    	price_b : '3,900',
    	price_a : '3,510',
    	off : '390',
    	img : 'cabinet/spice/corkcicle/sp-2116pww.jpg',
    },
    {
    	code : 'sp-2116lid',
    	price_b : '800',
    	price_a : '720',
    	off : '80',
    	img : 'cabinet/spice/corkcicle/sp-2116lid.jpg',
    },
    {
    	code : 'sp-2116ec',
    	price_b : '3,900',
    	price_a : '3,510',
    	off : '390',
    	img : 'cabinet/spice/corkcicle/sp-2116ec.jpg',
    },
    {
    	code : 'sp-2116dcb',
    	price_b : '3,600',
    	price_a : '3,240',
    	off : '360',
    	img : 'cabinet/spice/corkcicle/sp-2116dcb.jpg',
    },
    {
    	code : 'sp-2116bc',
    	price_b : '3,400',
    	price_a : '3,060',
    	off : '340',
    	img : 'cabinet/spice/corkcicle/sp-2116bc.jpg',
    },
    {
    	code : 'sp-2112ec',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2112ec.jpg',
    },
    {
    	code : 'sp-2112bs',
    	price_b : '3,200',
    	price_a : '2,880',
    	off : '320',
    	img : 'cabinet/spice/corkcicle/sp-2112bs.jpg',
    },
    {
    	code : 'sp-2100st',
    	price_b : '800',
    	price_a : '720',
    	off : '80',
    	img : 'cabinet/spice/corkcicle/sp-2100st.jpg',
    },
    {
    	code : 'sp-2025sum',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/spice/corkcicle/sp-2025sum.jpg',
    },
    {
    	code : 'sp-2025pww',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/spice/corkcicle/sp-2025pww.jpg',
    },
    {
    	code : 'sp-2025ec',
    	price_b : '5,000',
    	price_a : '4,500',
    	off : '500',
    	img : 'cabinet/spice/corkcicle/sp-2025ec.jpg',
    },
    {
    	code : 'sp-2025bc',
    	price_b : '4,600',
    	price_a : '4,140',
    	off : '460',
    	img : 'cabinet/spice/corkcicle/sp-2025bc.jpg',
    },
    {
    	code : 'sp-2016wb',
    	price_b : '3,900',
    	price_a : '3,510',
    	off : '390',
    	img : 'cabinet/spice/corkcicle/sp-2016wb.jpg',
    },
    {
    	code : 'sp-2016sum',
    	price_b : '4,500',
    	price_a : '4,050',
    	off : '450',
    	img : 'cabinet/spice/corkcicle/sp-2016sum.jpg',
    },
    {
    	code : 'sp-2016pww',
    	price_b : '4,500',
    	price_a : '4,050',
    	off : '450',
    	img : 'cabinet/spice/corkcicle/sp-2016pww.jpg',
    },
    {
    	code : 'sp-2016ec',
    	price_b : '4,500',
    	price_a : '4,050',
    	off : '450',
    	img : 'cabinet/spice/corkcicle/sp-2016ec.jpg',
    },
    {
    	code : 'sp-2016dcb',
    	price_b : '3,900',
    	price_a : '3,510',
    	off : '390',
    	img : 'cabinet/spice/corkcicle/sp-2016dcb.jpg',
    },
    {
    	code : 'sp-2016bc',
    	price_b : '3,700',
    	price_a : '3,330',
    	off : '370',
    	img : 'cabinet/spice/corkcicle/sp-2016bc.jpg',
    },
    {
    	code : 'sp-2009sum',
    	price_b : '3,500',
    	price_a : '3,150',
    	off : '350',
    	img : 'cabinet/spice/corkcicle/sp-2009sum.jpg',
    },
    {
    	code : 'sp-2009pww',
    	price_b : '3,500',
    	price_a : '3,150',
    	off : '350',
    	img : 'cabinet/spice/corkcicle/sp-2009pww.jpg',
    },
    {
    	code : 'sp-2009ec',
    	price_b : '3,500',
    	price_a : '3,150',
    	off : '350',
    	img : 'cabinet/spice/corkcicle/sp-2009ec.jpg',
    },
    {
    	code : 'sp-2009dcb',
    	price_b : '3,000',
    	price_a : '2,700',
    	off : '300',
    	img : 'cabinet/spice/corkcicle/sp-2009dcb.jpg',
    },
    {
    	code : 'sp-2009bs',
    	price_b : '2,800',
    	price_a : '2,520',
    	off : '280',
    	img : 'cabinet/spice/corkcicle/sp-2009bs.jpg',
    },
    {
    	code : 'sp-2000scap',
    	price_b : '1,200',
    	price_a : '1,080',
    	off : '120',
    	img : 'cabinet/spice/corkcicle/sp-2000scap.jpg',
    },
    {
    	code : 'sp-2000cap',
    	price_b : '800',
    	price_a : '720',
    	off : '80',
    	img : 'cabinet/spice/corkcicle/sp-2000cap.jpg',
    },
    {
    	code : 'sp-2000brush',
    	price_b : '2,300',
    	price_a : '2,070',
    	off : '230',
    	img : 'cabinet/spice/corkcicle/sp-2000brush.jpg',
    },
  ]

div
  // p 管理番号一覧
  -for (var i=0; i<Pickup_ID.length; i++)
    != `<!-- ${Pickup_ID[i]['code']} -->`
    //- p #{Pickup_ID[i]['code']}


div.area.padding-s.center
  div.padding-top-l.padding-bottom-l.all-width-1-1.center
    h2.midasi.font-l PICK UP!
  -for (var i=0; i<Pickup_ID.length; i++)
    div.margin-bottom-s
      a(href='https://item.rakuten.co.jp/re-wall/'+Pickup_ID[i]['code']+'/', target='_top')
        img.lazyload(src='https://tshop.r10s.jp/re-wall/'+Pickup_ID[i]['img']+'?fitin=180:180', data-src='https://tshop.r10s.jp/re-wall/'+Pickup_ID[i]['img']+'')
